:root.theme-dark {
    --bg-color: #000028;
    --text-color: #F1B2CE;
    --accent-color: #FF0070;
    --title-color: #DB00FF;
    --title-shadow: #FF0070;
    --decor-color: #FF0070;
    --bg-image: none;
}
